### 1、最基础的，引入pandas并重命名为pd

In [1]:
import pandas as pd

### DataFrame 基础
#### 2、将字典转换为pands数据

In [ ]:
dic= {
    'math': [99,56,60],
    'chinese': [69,66,90],
    'sports' : [99, 88, 82]
}
labels = ['a', 'b', 'c']   #指定行名，其实可以不指认，这样的话就是默认的0,1,2.。。。。。
df = pd.DataFrame(dic,index=labels)
df

#### 3、显示Dataframe上数据的基础信息

In [8]:
df.describe()  # 提供汇总数据统计

# or

df.info()  # 打印DataFrame的简要摘要

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   math     3 non-null      int64
 1   chinese  3 non-null      int64
 2   sports   3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

#### 4、返回前n行数据

In [9]:
n = 5
df.head(n)

   math  chinese  sports
a    99       69      99
b    56       66      88
c    60       90      82

#### 5、只选择数据中的math 和 chinese列

In [12]:
df[['math','chinese']]

   math  chinese
a    99       69
b    56       66
c    60       90

#### 6、选择math 和 chinese 列中的第 1、3行数据

In [17]:
df.loc[['a','c'],['math','chinese']]

# or.....        #上面是直接写行名，下面则是通过行数来导出行名

df.loc[df.index[[0,2]],['math','chinese']]

   math  chinese
a    99       69
c    60       90

#### 7、选择math列中大于等于60的行

In [27]:
df[(df['math']>=60)]

   math  chinese  sports
a    99       69      99
c    60       90      82

#### 8、选择math列中大于等于60， chines列大于80 的行

In [28]:
df[(df['math']>=60) & (df['chinese']>80)]

   math  chinese  sports
c    60       90      82

#### 9、选择math的数值在40-70的行

In [30]:
df[df['math'].between(40,70)]

   math  chinese  sports
b    56       66      88
c    60       90      82

#### 10、将第二行的math数值改为99

In [32]:
df.loc['b','math'] = 99    # 可以看出loc函数用一个[]包裹，第一个参数是行，第二个参数是列。
df

   math  chinese  sports
a    99       69      99
b    99       66      88
c    60       90      82

#### 11、计算math列的sum

In [34]:
df['math'].sum()

258

#### 12、计算不同性别的数学平均分

In [37]:
df = pd.DataFrame([['a', 'man', 120, 90],
                   ['b', 'woman', 130, 100],
                   ['a', 'man', 110, 108],
                   ['a', 'woman', 120, 118]], columns=['level', 'gender', 'math','chinese'])

# 分组就是groupby方法。将DataFrame中所有行按照一列或多列来划分，分为多个组，列值相同的在同一组，列值不同的在不同组。
# 像本题中以gender分组，gender相同的都在一起，然后进行后续操作
df.groupby('gender')['math'].mean()

gender
man      115.0
woman    125.0
Name: math, dtype: float64

#### 13、添加一个新行，并赋值，然后再删除此行

In [41]:
df.loc[4] = ['b','man',112,102]
df
df = df.drop('c')
df = df.drop(4)
df

  level gender  math  chinese
0     a    man   120       90
1     b  woman   130      100
2     a    man   110      108
3     a  woman   120      118

#### 14、计算math列中出现的数据数量

In [43]:
df['math'].value_counts()

math
120    2
130    1
110    1
Name: count, dtype: int64

#### 15、  【18】